body {
    background: white;
    color: #333;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    padding: 20px;
    border-top: 10px solid #478a23;
}
.box{
    background-color: #478a23;
    border-radius:5px;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
	position:absolute;
	left:50%;
	top:50%;
    margin:-130px 0 0 -166px;
    border: 0;
}
.boxBody{
    padding:10px 20px;
    margin: 0;
    border: 0;
}

.box footer{
    padding:22px 26px;
	height:32px;
}
.box label{
    display:block;
    margin:10px 0 0 6px;
}
.box input{
    border:6px solid #356826;
    border-radius:3px;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input:focus{
    border:6px solid #356866;
    color:#333;
    outline: none;
}
#btnLogin
{
    background-color: #bbbbbb;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	margin-left:12px;
    float:right;
    padding:7px 21px;
    border-radius: 3px;
}